@import "bootstrap";

body {
  padding-top:50px;
}

.breakfast label{
  display: inline-block;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.incenter {
  text-align: center;
}
#comment {
  background-color: #CCCC66;
}
.hotels{
  border:2px solid black;
  border-radius:20px;
  margin:10px;
  img, h4, p{
    padding-left:20px;
  }
}
